{% extends 'base.html' %}

{% block title %} MX NETWORK | Feeds {% endblock %}

{% block page%}

{% load static %}

<div class="container">

    <!------------------left-sidebar------------->
    <div class="left-sidebar">
        <div class="imp-links">
            <a href="{% url 'placement' %}"> <i class="fa-solid fa-briefcase"></i>Placements</a>
            <a href="#"> <i class="fa-solid fa-photo-film"></i>Gallery</a>
            <a href="#"><i class="fa-solid fa-user-graduate"></i> Internships</a>
            <a href="#"> <i class="fa-solid fa-book-open"></i>Resources</a>
            <a href="#"> <i class="fa-solid fa-school-circle-check"></i>Workshops</a>
            <a href="#">See More</a>
        </div>
        <!-- <div class="shortcut-links">

            <p>Your shortcuts</p>
            <a href="#"><img src="/images/shortcut-1.png">Web Developers</a>
            <a href="#"><img src="/images/shortcut-2.png">web design course</a>
            <a href="#"><img src="/images/shortcut-3.png">Full stack Development</a>
            <a href="#"><img src="/images/shortcut-4.png">Website Expert</a>
        </div> -->
    </div>
     <!------------------main-content------------->
    <div class="main-content">

        <div class="write-post-container">
            <div class="user-profile">
                <a href="{% url 'profile' %}"><img src="{% static '/img/user.png' %}" alt=""></a>
                <div>
                    <p style="text-transform: capitalize;">{{user.get_full_name}}</p>
                    <small>Student</small>
                </div>
            </div>
            <div class="post-input-container">
                <form action="" method="POST" onfocus="" id="post-form"  enctype="multipart/form-data" >
                    {% csrf_token %}
                    <textarea rows="4" required placeholder="What's your Question?" name="postcontent" oninput="inputTitle()"></textarea>
                    <div class="post-title" id="post-title" style="display:none;">
                        <input type="text" name="postTitle"  placeholder="Title" style="margin-right: 10px;">
                        <select name="category" id="" placeholder="Post type">
                            <option value="">Category</option>
                            <option value="Question">Question</option>
                            <option value="Internship">Internship</option>
                            <option value="Placements">Placements</option>
                            <option value="Resources">Resources</option>
                            <option value="Academics">Academics</option>
                            <option value="Academics">Others</option>

                        </select>
                       
                    </div>
                    <div class="imgupload" id="img-up" style="display: none;">
                        <label class="custom-file-upload">
                            <input type="file" name="postimage" />
                            Upload Image
                        </label>
                    </div>
                </form>
                
                <div class="add-post-links">
                    <a href="#" onclick="createPost()">Post<i class="fa-solid fa-paper-plane"></i></a>
                    <a href="#" onclick="imageupload()">Add Photo  <i class="fa-solid fa-image"></i></a>
                    <a href="#"> <img src="/images/feeling.png" alt=""></a>
                </div>
                
            </div>

        </div>
        {% for post in feed %}
        <div class="post-container" id="pp">

            <div class="post-row">
                <div class="user-profile">
                    <img src="{% static '/img/user.png' %}" alt="">
                    <div>
                        <p>{{post.author.first_name}}<span>  {{post.author.rollno}}</span></p>
                        <span>{{post.post_time}}</span>
                        
                    </div>
                </div>
                <a href="#">  <i class="fas fa-ellipsis-v"></i></a>
            </div>
            <p class="post-title">{{post.title}}</p>
            <p class="post-text">{{post.content}}</p>
            
                <img src="{{ post.post_image.url }}" alt="" class="post-img">                   



                <div class="post-row">
            
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt=""><i class="fa-solid fa-comments"></i>0</div>
                    </div>
                      <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt="">
                        <i class="fa-sharp fa-solid fa-caret-down"></i>
                    </div>
                </div>
        </div>
        {% endfor %}

            <button type="button" class="load-more-btn">Load More</button>
    </div>
     <!------------------right-sidebar------------->
    <div class="right-sidebar">

        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See All</a>
        </div>
        {% for i in events %}
        <div class="event">
            <div class="left-event">
                <h3>{{i.event_date|date:'d'}}</h3>
                <span>{{i.event_date|date:'F'}}</span>
            </div>
            <div class="right-event">
                <h4>{{i.event_name}}</h4>
                <p><i class="fa-solid fa-location-dot"></i></i>{{i.event_location}}</p>
                <a href="#">More Info</a>
            </div>
        </div>
        {% endfor %}
        <div class="sidebar-title">
            <h4>COLLEGE</h4>
            <a href="#">Close</a>
        </div>
        <img src="{% static '/img/clg.jpg' %}" alt="" class="side-ads">
        <div class="sidebar-title">
            <h4>Conversation</h4>
            <a href="#" id="hidechat" onclick="showChat()">Show Chats</a>
        </div>
        <div class="conversation" id="conversation">
        {% for i in users %}
        <div class="online-list">
            <div class="online">
                <img src="{% static '/img/user.png' %}" alt="">
            </div>
            <p>{{i.rollno}}<br>{{i.get_full_name}}</p>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}