{% extends 'base.html' %}

{% block title %} MX Community | Feeds {% endblock %}

{% block page%}

{% load static %}

<div class="container">

    <!------------------left-sidebar------------->
    <div class="left-sidebar">
        <div class="imp-links">
            <a href="#"><img src="/images/news.png"> latest News</a>
            <a href="#"><img src="/images/friends.png"> friends</a>
            <a href="#"><img src="/images/group.png"> groups</a>
            <a href="#"><img src="/images/marketplace.png"> marketplace</a>
            <a href="#"><img src="/images/watch.png">watch</a>
            <a href="#">See More</a>
        </div>
        <div class="shortcut-links">

            <p>Your shortcuts</p>
            <a href="#"><img src="/images/shortcut-1.png">Web Developers</a>
            <a href="#"><img src="/images/shortcut-2.png">web design course</a>
            <a href="#"><img src="/images/shortcut-3.png">Full stack Development</a>
            <a href="#"><img src="/images/shortcut-4.png">Website Expert</a>
        </div>
    </div>
     <!------------------main-content------------->
    <div class="main-content">

        <div class="write-post-container">
            <div class="user-profile">
                <img src="{% static '/img/user.png' %}" alt="">
                <div>
                    <p style="text-transform: capitalize;">{{user.get_full_name}}</p>
                    <small>public</small>
                    <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
            </div>
            <div class="post-input-container">
                <form action="" onfocus="">
                <textarea rows="3" placeholder="What's your question?"></textarea>
                </form>
                <div class="add-post-links">
                    <a href="#"> <img src="/images/live-video.png" alt="">Post</a>
                    <a href="#"> <img src="/images/photo.png" alt="">Photo</a>
                    <a href="#"> <img src="/images/feeling.png" alt=""></a>
                </div>


            </div>

        </div>
        {% for post in feed %}
        <div class="post-container">

            <div class="post-row">
                <div class="user-profile">
                    <img src="{% static '/img/user.png' %}" alt="">
                    <div>
                        <p>{{post.author.first_name}}<span>  {{post.author.rollno}}</span></p>
                        <span>{{post.post_time}}</span>
                                                

                    </div>
                </div>
                <a href="#">  <i class="fas fa-ellipsis-v"></i></a>
            </div>
            <p class="post-title">{{post.title}}</p>
            <p class="post-text">{{post.content}} <a href="#">#webdev</a>
                <a href="#">#fullstack</a></p>
                <img src="/images/feed-image-1.png" alt="" class="post-img">


                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt="">100</div>
                        <div><img src="/images/comments.png" alt="">10</div>
                        <div><img src="/images/share.png" alt="">5</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="/images/profile-pic.png" alt="">
                        <i class="fa-sharp fa-solid fa-caret-down"></i>
                    </div>
                </div>
        </div>
        {% endfor %}

            <button type="button" class="load-more-btn">Load More</button>
    </div>
     <!------------------right-sidebar------------->
    <div class="right-sidebar">

        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See All</a>
        </div>

        <div class="event">
            <div class="left-event">
                <h3>14</h3>
                <span>december</span>
            </div>
            <div class="right-event">
                <h4>Project Review</h4>
                <p><i class="fa-solid fa-location-dot"></i></i>Psg college of technology</p>
                <a href="#">More Info</a>
            </div>
        </div>
            <div class="event">
                <div class="left-event">
                    <h3>9</h3>
                    <span>january</span>
                </div>
                <div class="right-event">
                    <h4>CA test</h4>
                    <p><i class="fa-solid fa-location-dot"></i>Psg college of technology</p>
                    <a href="#">More Info</a>
                </div>
        </div>
        <div class="sidebar-title">
            <h4>COLLEGE</h4>
            <a href="#">Close</a>
        </div>
        <img src="{% static '/img/clg.jpg' %}" alt="" class="side-ads">
        <div class="sidebar-title">
            <h4>Conversation</h4>
            <a href="#">Hide chat</a>
        </div>
        <div class="conversation">
        {% for i in users %}
        <div class="online-list">
            <div class="online">
                <img src="{% static '/img/user.png' %}" alt="">
            </div>
            <p>{{i.rollno}}<br>{{i.get_full_name}}</p>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}