{% extends 'base.html' %}
{% load static %}

{% block page%}
<div class="container" style="margin-top:4px ;">

    <div class="left-sidebar">
        <div class="imp-links">
            <a href="{% url 'placement' %}" id="selected"> <i class="fa-solid fa-briefcase"></i>Placements</a>
            <a href="#"> <i class="fa-solid fa-photo-film"></i>Gallery</a>
            <a href="#"><i class="fa-solid fa-user-graduate"></i> Internships</a>
            <a href="#"> <i class="fa-solid fa-book-open"></i>Resources</a>
            <a href="#"> <i class="fa-solid fa-school-circle-check"></i>Workshops</a>
            <a href="#">See More</a>
        </div>
    </div>

<div class="right-sidebar">

    <div class="sidebar-title">
        <h4>Events</h4>
        <a href="#">See All</a>
    </div>
    {% for i in events %}
    <div class="event">
        <div class="left-event">
            <h3>{{i.event_date|date:'d'}}</h3>
            <span>{{i.event_date|date:'F'}}</span>
        </div>
        <div class="right-event">
            <h4>{{i.event_name}}</h4>
            <p><i class="fa-solid fa-location-dot"></i></i>{{i.event_location}}</p>
            <a href="#">More Info</a>
        </div>
    </div>
    {% endfor %}
    <div class="sidebar-title">
        <h4>COLLEGE</h4>
        <a href="#">Close</a>
    </div>
    <img src="{% static '/img/clg.jpg' %}" alt="" class="side-ads">
    <div class="sidebar-title">
        <h4>Conversation</h4>
        <a href="#" id="hidechat" onclick="showChat()">Show Chats</a>
    </div>
    <div class="conversation" id="conversation">
    {% for i in users %}
    <div class="online-list">
        <div class="online">
            <img src="{% static '/img/user.png' %}" alt="">
        </div>
        <p>{{i.rollno}}<br>{{i.get_full_name}}</p>
    </div>
    {% endfor %}
    </div>
</div>
</div>
</div>

    {% endblock %}
