<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <title>MX Community</title>
</head>
<body>
    <nav>
        <img src="{% static '/img/home_logo.png'%}" alt="">
        
    </nav>
    <!-- <div>
        <h1>MX COMMUNITY</h1>
    </div> -->
    <div class="container">
        <div>
            <img src="{% static '/img/home.svg'%}" alt="">
        </div>
        <div>
            <div class="main-text">
                <div class="typewriter">
                    <h1>Hello Mxians</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea blanditiis facere quisquam fugiat ipsam eum, qui molestiae delectus ullam, temporibus optio vero quis nihil voluptatem provident nostrum distinctio? Tenetur, sed?</p>
                <button>Login</button>
                <button>Register</button>
            
            </div>
        </div>
    </div>
</body>
</html>