<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Open+Sans:wght@800&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <title>MX Community | Login</title>
</head>
<body>
   
      
    <nav>
        <h1>MX COMMUNITY</h1>
        <div class="nav-links">
            <p> <a href="{% url 'home' %}">HOME</a></p>
            <p><a href="{% url 'register' %}">REGISTER</a></p>
            <p>SIGN IN</p>
            <p>ABOUT</p>
            <p></p>
        </div>
    </nav>
            <div class="reg-form">
                <!-- <div class="leftimg">
                    <img src="{% static '/img/login_illustr.svg' %}">
        
                </div> --> 
            <form action="" method="POST">
                {% csrf_token %}

                <div class="form">
                <div class="form-left">
                    <p>Roll Number</p>
                    <input type="text" name="rollno" id="" required>
                    
                    <p>Username</p>
                    <input type="text" name="username" id="">
                    
                    <p>Password</p>
                    <input type="password" name="password" id="">
                </div>
            </div>
                <div class="submit-btn" style="width:55%">
                    <input type="submit" name="register-btn" id="register-btn" value="Login">
                </div>
            </form>
            </div>
        
        
           
     
</body>
</html>