<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <title>MX Community | Login</title>
</head>
<body>
   
        <div class="reg-logo">
         <img src="{% static '/img/register_logo.png' %}">
        <div>

        </div>            
            <div class="reg-form" style="width:400px;">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form">
                <div class="form-left">
                    <p>Roll Number</p>
                    <input type="text" name="rollno" id="" required>
                    
                    <p>Username</p>
                    <input type="text" name="username" id="">
                    
                    <p>Password</p>
                    <input type="password" name="password" id="">
                </div>
            </div>
                <div class="submit-btn" style="width:55%">
                    <input type="submit" name="register-btn" id="register-btn" value="Login">
                </div>
            </form>
            </div>
        </div> 
        
           
      </nav>
</body>
</html>