<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5aa39777c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/messages.css' %}">

</head>

<body>
    

<nav>
    <div class="nav-right">
        <img src="{% static '/img/logo.png' %}" class="logo">
        
      <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="search">
      </div>
          
    </div>
    <div class="nav-left">
        <ul>
          <div class="nav-icons">
            <div class="nico">
            <li><a href="{% url 'feed' %}"><i class="fa-solid fa-newspaper"></i></a></li>
            </div>
            <div class="nico">
            <li><a href="{% url 'messages' %}"><i class="fa-solid fa-message"></i></a></li>
            </div>
            <div class="nico">
            <li><a href="{% url 'tokens' %}"><i class="fa-solid fa-users"></i></a></li>
            </div>
          </div>
          </ul>
      </div>  


      <div class="nav-user-icon online">
        <img src="{% static '/img/user.png' %}">
      </div>
      <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
     
  </nav>





<div class="container">
    
    <div class="leftSide">
    <!--Header-->
        <div class="header">
            <div class="userimg">
                <img src="images/user.jpg" class="cover">
            </div>
            <ul class="nav_icons">
                <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                <li><ion-icon name="chatbox"></ion-icon></li>
                <li><ion-icon name="ellipsis-vertical"></ion-icon></li>

            </ul>
        </div>
        <!--Search Chat-->
        <div class="search_chat">
            <div>
                <input type="text" placeholder="Search or Start new chat">
                <ion-icon name="search-outline"></ion-icon>
            </div>
            
        </div>
    </div>
    <!--Chat List-->
    <div class="chatlist">
        <div class="block active">
           <div class="imgbx">
            <img src="img1.jpg" class="cover">
           </div>
           <div class="details">
            <div class="listHead">
                <h4>Name1</h4>
                <p class="time">22:22</p>
            </div>
            <div class="message_p">
                <p>Message1</p>
            </div>
           </div> 
        </div>   
    <div class="block unread">
        <div class="imgbx">
            <img src="img2.jpg" class="cover">
        </div>
        <div class="details">
            <div class="listHead">
                <h4>Name2</h4>
                <p class="time">23:00</p>
            </div>
            <div class="message_p">
                <p>Message2</p>
                <b>1</b>
            </div>
        </div>
    </div>
    
    <div class="rightSide">
        <div class="header">
            <div class="imgText">
                <div class="userimg">
                    <img src="images/user.jpg" class="cover">
                </div>
                <h4>User 1<br><span>online</span></h4>
            </div>
            <ul class="nav_icons">
                <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                <li><ion-icon name="chatbox"></ion-icon></li>
                <li><ion-icon name="ellipsis-vertical"></ion-icon></li>

            </ul>
        </div>
    </div> 
</div>

</div>
</body>
</html>