<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <title>MX Community | Register</title>
</head>
<body>
   
        <div class="reg-logo">
         <img src="{% static '/img/register_logo.png' %}">

            <div class="reg-form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form">

                <div class="form-left">
                    <p>Roll Number</p>
                    <input type="text" name="rollno" id="">
                    <p>Username</p>
                    <input type="text" name="username" id="">
                    
                    <p>Password</p>
                    <input type="password" name="password" id="">
                </div>

                <div class="form-right">
                    <p>First Name</p>
                    <input type="text" name="firstname" id="">
                    
                    <p>Last Name</p>
                    <input type="text" name="lastname" id="">
                    
                    <p>Email</p>
                    <input type="email" name="email" id="">
                </div>
            </div>
                <div class="submit-btn">
                    <input type="submit" name="register-btn" id="" value="Register">
                </div>
            </form>
            </div>
        </div> 
        
           
      </nav>
</body>
</html>