<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <title>MX Community | Register</title>
</head>
<body>
   
        <div class="reg-logo">
         <img src="{% static '/img/register_logo.png' %}">

            <div class="reg-form">
            <form action="">
                <p>Roll Number</p>
                <input type="text" name="" id="">
            </form>
            </div>
        </div> 
        
           
      </nav>
</body>
</html>