{% extends 'base.html' %}
{% load static %}

{% block title %} MX NETWORK | Search {% endblock %}

{% block page %} 
<div id="searchpage">
        <form action="{% url 'search' %}" method="GET">
        <div class="search-box" >
            <img src="{% static 'img/search.png' %}">
            <input type="text" placeholder="Search" name="q">
           
        </div>
        <div class="search-submit">
                <input type="submit" name="" id="">
        </div>

        <div>
                <div class="result-box">

                        <h4>User</h4>
                        <p>Title</p>
                        <p>Post Time</p>
                        <p></p>
                </div>

                {% for i in results %}
                                
                <div class="result-box">

                        <h4>{{i.author}}</h4>
                        <p>{{i.title}}</p>
                        <p>{{i.post_time}}</p>
                        <button type="button">View Post</button>
                </div>
                {% empty %}
                <p style="text-align: center;">No Results for the keyword: {{a}}</p>

                {% endfor %}

        </div>
        
        </form>

</div>
        {% endblock %}