{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
        <title>
        {% block title %}
        Base
        {% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <img src="{% static '/img/logo.png' %}" id="logo" alt="">
            <div class="nav-links">
                <ul>
                   <a href="{% url 'feed'%}"><li>Feed</li></a>
                    <a href="{% url 'messages'%}"><li>Message</li></a>
                    <a href="{%url 'tokens'%}"><li>Tokens</li></a>
                    <a href="{% url 'search'%}"><li>Search</li></a>
                </ul>
            </div>
        </nav>
        <section>
            {% block page%} {%endblock%}
        </section>
        <footer>
            <div>
                <p>Developed by</p>
                <p>22MX102</p>
                <p>22MX108</p> 
                <p>22MX116</p> 
            </div>
            <div class="dmca">&#169; Department of Computer Applications</div>
        </footer>
    </body>
    </html>