{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
        <title>
        {% block title %} {% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <h1>MX</h1>
            <div>
                <ul>
                    <li>Feed</li>
                    <li>Message</li>
                    <li>Tokens</li>
                    <li>Search</li>
                </ul>
            </div>
        </nav>
        <section>
            {% block page%} {%endblock%}
        </section>
        <footer>
            <div>
                <p>Developed by</p>
                <p>22MX102</p>
                <p>22MX108</p> 
                <p>22MX116</p> 
            </div>
            <div class="dmca">&#169; Department of Computer Applications</div>
        </footer>
    </body>
    </html>