{% extends 'base.html' %}

{% block title %} MX | Feeds {% endblock %}

{% block page %}

{% load static%}

    <div class="container">
        <div class="left">
            <p style="text-align:left;">left</p> 
        </div>

        <div class="center">
            
            <div class="post">
                <div class="username">
                    <h3>Username</h3>
                    <p id="datetime">20 September 2022 9:58PM</p>
                </div>


              <div class="caption"> 
                    <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum metus sed ornare dictum.
                     Mauris accumsan libero at dignissim bibendum. Vivamus ornare odio vel sollicitudin pellentesque. Morbi ac fringilla nibh.</p>
                    
                    </div>
                    
            <div class="image"> <img src="{% static '/img/sample.jpg'%}" alt="new image"> </div>
            </div>
            <div class="commentbox">

            </div>
        </div>

        <div class="right">
            <p style="text-align:right;">right</p>
        </div>
    </div>

{% endblock %}