{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MX | Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <nav>
        <h1>MX</h1>
        <div>
            <p>Signup</p>
            <p>Lorem</p>
        </div>
    </nav>

    <section>
        <div class="box">
            <div class="left">
                <img src="{% static 'img/login.svg'%}" alt="">
            </div>
            <div class="right">
                <div class="log-box">
                <h3>Login</h3>
                <p>Roll No</p>
                <input type="text" name="" id="">
                <p>Password</p>
                <input type="text" name="" id="">

                <input type="submit" name="" id="">
                
            </div>
            </div>
        </div>
    </section>
</body>
</html>