{% extends 'base.html' %}

{% block title %} MX | Messages {% endblock %}

{% block page %}

   <div class="mcontainer">
    <div class="recentmessage">
        <div class="username">
            <ul type="none">
                <li>User 1</li>
                <div>
                    <p>Message 1</p>
                </div>
            </ul>
            <br><br>
        </div>
            <ul type="none">
                <li>User 2</li>
            
            <div class="rmessage">
                <p>Message 2</p>
            </div>
            </ul>
            <br><br>
            
            </div>
    <div class="currentmessage">
        <p>Current Messages</p>
    </div>
   </div>

{% endblock %}