{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MX | Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <nav>
        <h1>MX</h1>
        <div>
            <p>Sign In</p>
            <p>Register</p>
        </div>
    </nav>

    <section>
        <div class="box" id="reg">
            <div class="left">
                <img src="{% static 'img/register.svg'%}" alt="">
            </div>
            <div class="right">
                <div class="log-box">
                
                <h3>Register</h3>
                <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="regbox">
                <div>
                <p>Roll No</p>
                <input type="text" name="rollnum" id="rollnum">
                <p>Username</p>
                <input type="text" name="uname" id="uname">
                </div>
                <div>
                    <p>First Name</p>
                    <input type="text" name="fname" id="fname">
                    <p>Password</p>
                    <input type="text" name="pswd" id="pswd">
                    </div>
                <div>
                    <p>Last Name</p>
                    <input type="lastname" name="lname" id="lastname">
                    <p>Email</p>
                    <input type="email" name="email" id="email">    
                </div>
                    
            </div>
            <div>
                <input type="submit" name="regnum" id="regnum" value="REGISTER">
                </div>
            </form> 
            </div>
            </div>
        </div>
    </section>
</body>
</html>