:root {
    --thColor: #181D31;
    --bdyColor: #D6E4E5;
    
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    font-size: 60px;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    position: relative;
    height: 600px;
  }

  .main-text {
    margin: 0;
    top: 50%;
    transform: translateY(-80%);
  }

.main-text button {
    width: 8rem;
    height: 2rem;
    border: none;
}

.main-text button:first-of-type {
    background-color: var(--thColor);
    color: #fff;
}
