:root {
    --thColor: #181D31;
    --bdyColor: #D6E4E5;
    
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--bdyColor);
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links p {
  flex: 1;
  display: inline-block;
  align-items: center;
  padding-top: 8px;
  padding-left: 16px;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}
nav , .container {
  width: 90%;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh;

}

.left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textbox h1 {
  font-family: 'Open Sans',sans-serif;
  font-size: 52px;
  font-weight: 700;
  margin: 0;
  color: var(--thColor);
}

.textbox p {
  line-height: 1.9;
  margin-top: 0;
}

.left button {
  width: 160px;
  height: 40px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.left button:hover {
  background-color: var(--thColor);
  color: white;
}

.left .textbox {
  width: 70%;
}

.right {
  display: flex;
  justify-content: space-around;
}

.right img {
  width: 80%;
}