:root {
    --thColor: #181D31;
    --bdyColor: #D6E4E5;
    
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--bdyColor);
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: #000;
  }

.nav-links p {
  flex: 1;
  display: inline-block;
  align-items: center;
  padding-top: 8px;
  padding-left: 16px;
  cursor: pointer;
}

nav , .container {
  width: 90%;
  margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 88vh;

}

.illus {
    display: flex;
    align-items: center;
}

.illus img {
    width: 100%;
}

.reg-form {
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* box-shadow: -3px 5px 11px -1px rgba(0,0,0,0.66);
    -webkit-box-shadow: -3px 5px 11px -1px rgba(0,0,0,0.66);
    -moz-box-shadow: -3px 5px 11px -1px rgba(0,0,0,0.66); */
}

.reg-form form {
    padding: 60px;
}



.reg-form input {
    margin-bottom: 20px;
    font-size: 18px;
    height: 35px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #000;
    width: 100%;

}

.form {
    display: flex;
    justify-content: space-around;
}

.form-right {
    margin-left: 100px;
}

form .submit-btn {
    width: 20%;
    margin: auto;
}


form input[type=submit] {
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: #000;
    color: #fff;
}

#register-btn
{
    border-radius: 5px;
    background-color: #181D31;
    color: #bababb;
}
