:root {
    --thColor: #181D31;
    --bdyColor: #D6E4E5;
    --secColor: #465362;
    --boxColor: #F6F6F6;
    --spanColor: #1876f2;
    --greyText: #6B728E;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background: var(--bdyColor);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--thColor);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.nav-icons p {
    color: #fff;
}

.nico {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    cursor: pointer;
}

.nico:hover {
    opacity: 0.6;
}

.logo{
    width: 100px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left {
    margin-left: 180px;
}

.nav-left ul li{
     
    list-style: none;
    display: inline-block;
}
.nav-left ul li i {
    font-size: 20px;
    margin: 0 15px;
}
.nav-user-icon img{
    margin-left: 40px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

i {
    font-size: 24px;
    color: #F6F6F6;
}

.user-info {
    display: flex;
    justify-content: space-between;
}

.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box i{
    width: 18px;
    color: #000;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}


.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar{

    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    
}
.right-sidebar{
    
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}
.main-content{
    flex-basis: 47%;

}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a i{
    width: 25px;
    margin-right: 15px;
    color:var(--secColor);


}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25x 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;

}
.sidebar-title a{
 
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;

}

.event i {
    padding: 5px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #00C6C1;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.side-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.conversation {
    display: none;
    overflow-y: scroll;
    height: auto;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 5px;
}
.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;

}

.post-input-container input {
    width: 60%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    margin-bottom: 20px;
    font-size: 14px;
}

.post-input-container select {
    width: 40%;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    margin-bottom: 20px;
    color: rgb(105, 105, 105);
}

.post-title {
    padding: 30px 0px 10px 0px;
}
.add-post-links{
    display: flex;
    margin-top: 10px;

}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links i{
    font-size: 16px;
    padding-left: 5px;
    color: #626262;
    margin: 0;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: #F6F6F6;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    color: #242424;
    margin: 15px 0;
    font-size: 15px;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}

.activity-icons i {
    color: var(--greyText);
    font-size: 18px;
    padding-right: 10px;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon{
    display: flex;
    align-items: center;

}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-row a{
    color: #9a9a9a;
}
.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background-color: transparent;
    border-radius: 4px;
}


.tokens-container {
    width: 75%;
    margin: auto;
}

.tokens-container h1 {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}

.token-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow:
    1.5px 6.4px 3.6px rgba(0, 0, 0, 0.025),
    4.3px 17.8px 10px rgba(0, 0, 0, 0.035),
    10.3px 42.8px 24.1px rgba(0, 0, 0, 0.046),
    34px 142px 80px rgba(0, 0, 0, 0.07);
    margin-bottom: 10px;
}

.token-box p {
    color: #000;
}

.token-box img {
    border-radius: 50%;
    width: 50px;
}

.token-box button {
    width: 100px;
    height: 30px;
    background-color: #40800f;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.profile-page {
    width: 90%;
    margin: auto;
}

.profile-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 10px;
    height: 89vh;
    margin-top: 10px;
}

.profile-left , .profile-right {
    display: flex;
    flex-direction: column;
    background-color: var(--boxColor);
    border-radius: 6px;
}


.profile-info {
    padding: 48px;
}
.profile-info  p {
    padding: 3px;
    color: #6B728E;
}
.profile-info h4 {
    padding-top: 8px;
}
.profile-info hr {
    border: 1px solid rgb(194, 194, 194);
}

.profile-info .work-info  {
    margin-top: 20px;
}

.name {
    color: var(--spanColor);
}

.profile-right .personal-info {
    font-family: 'Montserrat', sans-serif;
    margin: 48px;
}
.profile-right .pro-btn {
    display: flex;
}
.profile-right .profile-btns button {
    width: 160px;
    /* font-size: 14px; */
    height: auto;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 8px;
    color: #fff;
    background-color: #00C6C1;
    margin-right: 10px;
}
.profile-right .profile-btns i {
    color:#fff;
    padding: 8px;
    padding-top: 12px;
    font-size: 18px;
}

.profile-right .about {
    margin-top: 100px;
}

.about table th {
    color: var(--greyText);
}

.about table {
    width: 400px;
    table-layout: fixed;
    margin-bottom: 20px;
}
.about table td {
    padding-top: 18px;
}

.about table .blue {
    color: var(--spanColor);
}
