:root {
    --textColor : #000;
	--tempColor: #00c6c0;
    --bgColor: #FAFAFF;
    --thColor: #ECEBE4;
    --hoverColor: #DADDD8;
    --navColor: #EEF0F2;
}

body {
    background-color: var(--bgColor);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    margin-left: 60px;
}

nav > div {
    display: flex;
    padding: 8px 12px;
    margin-right: 20px;
}

nav > div p {
    margin-right: 20px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    border: 1px solid #EEF0F2;
    margin: auto;
    height: 500px;
    margin-top:60px;

}
.box .left {
    text-align: center;
}
.box .left img {
    margin-top: 100px;
    height: 240px;
    
}

.log-box {
    padding-top: 100px;
    padding-left: 80px;
}

.log-box input {
    width: 80%;
    height: 36px;
    font-size: 18px;
}

.log-box input[type=submit] {
    margin-top: 30px;
    background-color: #00c6c0;
    border: none;
    color:#fff;
}


.box .left {
    background-color: #EEF0F2;
}

#reg {
    display: grid;
    grid-template-columns: 30% 70%;
    border: 1px solid #EEF0F2;
    margin: auto;
    margin-top:60px;  
    width: 90%;
}

#reg input[type=text] {
    width: 100%;
}

#reg input[type=submit] {
    width: 46%;
    margin-left: 200px;
}

.regbox {
    display: flex;
    justify-content: space-between;
    padding: 0;
}