:root {
    --textColor : #FEFCF3;
	--tempColor: #00c6c0;
}

* {
    font-family: 'Quicksand',sans-serif;
}

body {
    background-image: linear-gradient(to right top, #00c6c0, #00d4ae, #24df8d, #6be75f, #a8eb12);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 90vh;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    color: #000;
}
nav h3 {
    padding: 10px;
    padding-bottom: 0px;
}

.nav-links {

	flex:1;
	text-align: right;

}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	cursor: pointer;
}

.nav-links  ul li a {
	color: var(--textColor);
	text-decoration: none;
	font-size: 13px;
    cursor: pointer;

}

.nav-links  ul li::after {
	content: '';
	width:0%;
	height: 2px;
	background: #DBA39A;
	display: block;
	margin: auto;
	transition: 0.5s;

}

  .nav-links ul li:hover::after {
    width: 100%;
}