:root {
    
}

* {
    font-family: 'Ubuntu',monospace;
}


.text-box{
	width: 80%;
	color: #000;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1 {
    font-size: 48px;
}

.btns button {
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: ;
}

.btns button:first-child {
    background-color: green;
}

