:root {
    --textColor : #FEFCF3;
	--tempColor: #00c6c0;
}

* {
    font-family: 'Quicksand',sans-serif;
}

body {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/main-bg.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    color: var(--textColor);
}

.nav-links {

	flex:1;
	text-align: right;

}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	cursor: pointer;
}

.nav-links  ul li a {
	color: var(--textColor);
	text-decoration: none;
	font-size: 13px;
    cursor: pointer;

}

.nav-links  ul li::after {
	content: '';
	width:0%;
	height: 2px;
	background: #DBA39A;
	display: block;
	margin: auto;
	transition: 0.5s;

}

  .nav-links ul li:hover::after {
    width: 100%;
}


.home {
    height: 88vh;
}

.text-box{
	width: 80%;
	color: var(--textColor);
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1 {
    font-size: 48px;
}

.btns button {
    height: 50px;
	width: 100px;
    border-radius: 30px;
	padding: 10px;
    border: none;
	margin-right: 20px;
    background-color: var(--tempColor);
}

.btns button:first-child {
    background-color: #5a8ef7;
}

.btns button:hover {
	border:1px solid black;
	transition:0.5s;

}
